extends layout.pug

block content
    section.namecard
        .namecard-hello
            p.namecard-greeting Welcome,#{name}!
            form(action="/logout", method="post",class="namecard-exit") 
                button(type="submit")
                    img(src="/static/img/close.svg", alt="")
        section.flashcards
            div(class=`card card-${side}`)
                .card-header
                h1.card-title #{side}
                div#content
                    h2= text
                    if hint
                        p#hint 
                            i Hint: #{hint}
                .card-flip-wrap
                    a(href= `${link}`)
                        img(src="/static/img/flip.svg", alt="" class='card-flip')
                .card-next
                    a(href= `/cards/`)
                        img(src="/static/img/next.svg", alt="")